/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400"); */

/* RESET */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

/* MY STUFF */

/* IDS */
#author {
  text-align: right;
  width: 80%;
  margin: 1rem;
}

#btn-logout {
  margin: 0 auto;
}

#login {
  color: var(--primary);
  margin-top: 1rem;
}
#login:hover {
  color: var(--secondary);
}

#susi-img {
  width: 50%;
  margin: 0 auto;
}
#ola {
  width: 30%;
  text-align: center;
}

#ola h2 {
  font-size: var(--defaultFontSize);
}
@media screen and (max-width: 768px) {
  #susi-img {
    width: 70%;
  }
}
/* CLASSES */

.checkboxes {
  text-align: left;
}
.checkboxes div input[type="radio"] {
  width: 1rem;
  margin-top: 1rem;
}

.checkboxes h3 {
  margin-top: 1rem;
  box-shadow: 1px 1px var(--grey-1000);
}

.checkboxes h4 {
  text-align: left;
  color: var(--grey-400);
  margin-top: 1rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.boxes p {
  text-transform: capitalize;
  margin-top: 0;
}
.form button {
  margin-top: 1rem;
}
.form input:focus {
  outline: none;
  border: 2px solid var(--secondary);
}
.nao {
  background-color: #534272;
  padding: 0.5rem;
  color: var(--white);
}
.as-vezes {
  background-color: #8269b1;
  padding: 0.5rem;
  color: var(--white);
}
.sim {
  background-color: #ac8adf;
  padding: 0.5rem;
  color: var(--white);
}

.checkboxes label {
  display: inline;
  /* margin-left: 1px; */
}

.btn-anamnese {
  text-align: center;
  margin: 1rem;
}

.btn-anamnese button {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.login-btn {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .login-btn {
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
  }
  .login-btn button {
    margin-top: 1rem;
  }
}

.card {
  background-color: var(--white);
  color: var(--primary);
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 50%;
  box-shadow: var(--shadow-2);
}
@media screen and (max-width: 456px) {
  .card {
    width: 90%;
  }
}
.about-card {
  background-color: var(--sixth);
  color: #4527a0;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 50%;
  box-shadow: var(--shadow-2);
}
.gravar {
  background-color: var(--seventh);
  color: var(--white);
}
.mostrar {
  background-color: var(--fifth);
  color: var(--white);
}
.editar {
  background-color: var(--sixth);
  color: var(--white);
}
.arquivar {
  background-color: var(--sixth);
  color: var(--primary);
}

/* TAGS */

table,
th,
td {
  border: 1px solid var(--primary);
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  /* color: red; */
}
/* ###########  */

:root {
  /* COLORS  */

  --primary: #5e35b1;
  --secondary: #99f;
  --terciary: rgb(209, 196, 233);
  --fourth: #673ab7;
  --fifth: #9575cd;
  --sixth: #b39ddb;
  --seventh: #7e57c2;
  --bgColor: #ccf;

  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadows */
  --shadow-1: 2px 2px 3px #fff;
  --shadow-2: 2px 2px 3px rgb(24, 19, 43);

  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--bgColor);
  --textColor: var(--primary);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
html {
  font-size: var(--defaultFontSize);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

body {
  background: var(--bgColor);
  color: var(--primary);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p,
q {
  margin: 0;
  margin-top: 1rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1rem auto;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  text-align: center;
}

h1 {
  font-size: 3.052rem;
  text-shadow: var(--shadow-1);
}

h2 {
  font-size: 2.441rem;
  text-shadow: var(--shadow-1);
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.form {
  width: 90%;
  color: var(--primary);
  background: var(--sixth);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  padding: 2rem 2.5rem;
  margin: 1rem auto;
  text-align: center;
}
.form button {
  margin: 2 auto;
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .form {
    width: 70%;
  }
}
label {
  display: block;
  /* font-size: var(--smallText); */
  margin-top: 0.5rem;
  text-transform: capitalize;
  padding: 0.3rem;
}

input,
textarea {
  width: 70%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-0);
  border-color: transparent;
  border: 1px solid var(--grey-300);
}

.form-row {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
  height: 7rem;
}

::placeholder {
  color: var(--grey-600);
}
.form-alert {
  color: var(--red-dark);
  font-size: var(--extraSmallText);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
hr {
  border-top: 1px solid var(--grey-600);
  margin-top: 1rem;
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  color: var(--btnColor);
  background: var(--bgColor);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
}
button:hover,
.btn:hover {
  color: var(--bgColor);
  background: var(--primary);
  box-shadow: var(--shadow-1);
}
button.small {
  padding: 0.25rem 0.5rem;
  font-size: var(--smallText);
}
button.hipster {
  color: var(--primary-500);
  background: var(--primary-50);
  box-shadow: var(--shadow-1);
}
button.hipster:hover {
  background: var(--primary-100);
  box-shadow: var(--shadow-2);
}
button.block {
  width: 100%;
}

/* Basic Classes */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-success {
  color: var(--white);
}
.alert-danger {
  color: var(--red-light);
  background-color: #1e1c4c;
}

.container {
  padding: 5rem 0;
}
.container-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.page {
  min-height: calc(100vh - (6rem + 4rem));
}

@media screen and (max-width: 768px) {
  .page h2 {
    width: 30%;
    font-size: var(--smallTtext);
    margin: 1rem auto;
  }
}
/* .title {
  text-align: center;
  margin-bottom: 2rem;
}
.title-underline {
  height: 0.2rem;
  width: 7rem;
  background: var(--primary-600);
  margin: 0 auto;
} */

form > *:last-child {
  margin-bottom: 0;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* form loading */

.form-loading {
  position: relative;
}
.form-loading::before {
  background: var(--white);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--borderRadius);
  opacity: 0.8;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.form-loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*#########*/
/* END OF GLOBALS */
/*#########*/

/*#########*/
/* Navbar */
/*#########*/
.navbar {
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 4rem;
  padding: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

  z-index: 1;
}
.dropdown-content a {
  padding: 1rem;
  text-decoration: none;
  display: block;
  width: 8rem;
}

.navbar ul li a::after {
  transition: 0.7s;
}

.btn-menu {
  display: none;
  margin-right: 4.5rem;
}

@media screen and (max-width: 768px) {
  .btn-menu {
    display: flex;
  }
  .nav-links {
    display: none;
  }
}

/*#########*/
/* Footer */
/*#########*/
.page-footer {
  text-align: center;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--fifth);
  color: var(--white);
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}
.page-footer p {
  margin-bottom: 0;
}
.page-footer span {
  color: var(--white);
}

/*#########*/
/* Error */
/*#########*/
.error-page {
  min-height: calc(100vh - (6rem + 4rem));
  text-align: center;
  padding-top: 3rem;
}
.error-page h1 {
  font-size: 9rem;
}

/*#########*/
/* Contact */
/*#########*/

.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

/*#########*/
/* About */
/*#########*/

.about-page h2 {
  text-transform: none;
  font-weight: bold;
}
.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about-img {
  border-radius: var(--borderRadius);
  height: 500px;
}

@media screen and (min-width: 992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 400px;
  }
  .about-img {
    height: 100%;
  }
}
